
dist: xenial

matrix:
  include:
    - os: linux
      arch: amd64
    - os: linux
      arch: s390x
      dist: bionic
    - os: linux
      arch: ppc64le
      dist: bionic
    - os: osx

script:
  - ./test.sh
